@font-face {
  font-family: 'grandslangroman';
  src: url("../fonts/grandslang/grandslang-roman.woff2") format("woff2"), url("../fonts/grandslang/grandslang-roman.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'millimetre';
  src: url("../fonts/Millimetre-master/fonts/webfonts/Regular/Millimetre-Regular_web.woff2") format("woff2"), url("../fonts/Millimetre-master/fonts/webfonts/Regular/Millimetre-Regular_web.woff") format("woff"), url("../fonts/Millimetre-master/fonts/webfonts/Regular/Millimetre-Regular_web.eot") format("eot"), url("../fonts/Millimetre-master/fonts/webfonts/Regular/Millimetre-Regular_web.otf") format("otf"), url("../fonts/Millimetre-master/fonts/webfonts/Regular/Millimetre-Regular_web.ttf") format("ttf");
}

@font-face {
  font-family: 'outward';
  src: url("../fonts/outward-master/fonts/webfonts/outward-block-webfont.woff2") format("woff2"), url("../fonts/outward-master/fonts/webfonts/outward-block-webfont.woff") format("woff");
}

@font-face {
  font-family: 'outwardLine';
  src: url("../fonts/outward-master/fonts/webfonts/outward-borders-webfont.woff2") format("woff2"), url("../fonts/outward-master/fonts/webfonts/outward-borders-webfont.woff") format("woff");
}

@font-face {
  font-family: 'cosi';
  src: url("../fonts/CosiAzure/cosi_woff/CosiAzure-Bold.woff2") format("woff2"), url("../fonts/CosiAzure/cosi_woff/CosiAzure-Bold.woff") format("woff");
}

@-webkit-keyframes width-growth {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}

@keyframes width-growth {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}

@-webkit-keyframes appearh2 {
  from {
    opacity: 30%;
  }
  to {
    width: 100%;
  }
}

@keyframes appearh2 {
  from {
    opacity: 30%;
  }
  to {
    width: 100%;
  }
}

@-webkit-keyframes fadeinout {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeinout {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes slide-in {
  from {
    margin-left: -30px;
    opacity: 20%;
  }
  to {
    margin-left: 0px;
    opacity: 100%;
  }
}

@keyframes slide-in {
  from {
    margin-left: -30px;
    opacity: 20%;
  }
  to {
    margin-left: 0px;
    opacity: 100%;
  }
}

@-webkit-keyframes slide-down {
  from {
    margin-top: 0;
  }
  to {
    margin-top: -35vh;
  }
}

@keyframes slide-down {
  from {
    margin-top: 0;
  }
  to {
    margin-top: -35vh;
  }
}

[data-scroll-direction="horizontal"] [data-scroll-container] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  overflow: hidden;
}

[data-scroll-direction=horizontal] [data-scroll-container] {
  white-space: normal;
  overflow: hidden;
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

html body {
  margin: 0;
  padding: 0;
  color: #000000;
  font-family: 'IBM Plex Mono', monospace;
  font-style: normal;
  font-size: 2rem;
  background-color: #ffffff;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  /* for Internet Explorer, Edge */
  scrollbar-width: none;
  /* for Firefox */
}

html body h1 {
  font-family: 'cosi';
  font-size: calc(50px + (80 - 50) * ((100vw - 300px) / (1600 - 300)));
  margin: 5px 0px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 599px) {
  html body h1 {
    font-size: 4.5rem;
  }
}

html body h2 {
  font-family: 'grandslangroman';
  font-size: calc(25px + (30 - 25) * ((100vw - 300px) / (1600 - 300)));
  -webkit-animation: appearh2 1s;
          animation: appearh2 1s;
}

@media (max-width: 599px) {
  html body h2 {
    margin: 3rem 0;
    font-size: 3rem;
  }
}

html body h3 {
  margin: 2rem 0;
  padding: 0;
}

@media (max-width: 599px) {
  html body h3 {
    font-size: 2rem;
    margin: 3rem 0;
  }
}

html body hr {
  text-align: center;
  background-color: #000000;
  width: 40%;
  height: 1px;
  margin-left: 0;
  -webkit-animation: width-growth 0.5s ease-out;
          animation: width-growth 0.5s ease-out;
}

html body p {
  margin: 2rem 0;
  padding: 0;
  font-family: 'IBM Plex Mono', monospace;
  font-size: 2rem;
}

@media (max-width: 599px) {
  html body p {
    font-size: 1.6rem;
  }
}

html body a {
  text-decoration: none;
  color: #000000;
  font-size: 2.5rem;
}

html body a:hover {
  cursor: pointer;
}

html body a.arrow-links {
  font-size: 2rem;
  padding: 0.5rem 2rem 1rem;
  margin: 2rem 0;
  border-radius: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000000;
  color: #ffffff;
}

html body a.arrow-links img {
  margin: 0 0 0 2rem;
  width: 15px;
  height: 1.6rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center right;
     object-position: center right;
  -webkit-transition: width 0.25s;
  transition: width 0.25s;
  vertical-align: middle;
}

html body a.arrow-links:hover img {
  width: 25px;
}

html body ul {
  padding: 0;
  list-style-type: none;
}

html body span.color1, html body span.color2, html body span.color3, html body span.color4 {
  -webkit-transition: color 2s;
  transition: color 2s;
  -webkit-transition-delay: 1s;
          transition-delay: 1s;
}

html body span.color1:hover {
  color: #B5B507;
  -webkit-transition: color 0s;
  transition: color 0s;
}

html body span.color2:hover {
  color: #A4BCFF;
  -webkit-transition: color 0s;
  transition: color 0s;
}

html body span.color3:hover {
  color: #163F43;
  -webkit-transition: color 0s;
  transition: color 0s;
}

html body span.color4:hover {
  color: #fdd9fb;
  -webkit-transition: color 0s;
  transition: color 0s;
}

.navigation .menu {
  position: fixed;
  z-index: 2;
  height: 7vh;
  border: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  white-space: nowrap;
  width: 100vw;
}

.navigation .menu span {
  display: none;
}

.navigation .menu .bg-burger {
  background-color: #ffffff;
  display: block;
}

.navigation .menu .bg-burger rect {
  padding: 10px;
}

.navigation .menu .language {
  display: none;
}

.navigation .menu #dots-wrapper {
  margin: 10px auto;
}

@media (max-width: 599px) {
  .navigation .menu #dots-wrapper {
    opacity: 0;
  }
}

.navigation .menu #dots-wrapper .rotateScroll {
  width: 25px;
  margin: 5px 0;
}

@media (min-width: 600px) {
  .navigation .menu {
    background-color: #ffffff;
    height: 100vh;
    border-right: 1px solid #000000;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 40px;
  }
}

@media (min-width: 600px) and (min-width: 1200px) {
  .navigation .menu {
    width: 60px;
  }
}

@media (min-width: 600px) {
  .navigation .menu .bg-burger {
    display: none;
  }
  .navigation .menu span {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    vertical-align: super;
  }
  .navigation .menu a.menu-toggle {
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
  .navigation .menu .language {
    margin: 10px 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .navigation .menu .language a {
    font-size: 1.5rem;
  }
}

.navigation nav {
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: -webkit-transform 0.5s 0s;
  transition: -webkit-transform 0.5s 0s;
  transition: transform 0.5s 0s;
  transition: transform 0.5s 0s, -webkit-transform 0.5s 0s;
  -webkit-transform: translate(-100%, 0);
          transform: translate(-100%, 0);
  transition: transform 0.5s 0s;
  background-color: #ffffff;
}

.navigation nav.fake-mid {
  background-color: #000000;
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

.navigation nav.fake-back {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.navigation nav .container-menu {
  width: 80%;
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 900px) {
  .navigation nav {
    width: 60%;
  }
  .navigation nav .container-menu {
    width: 90%;
  }
}

.navigation nav .canvas-holder {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  position: relative;
  margin-top: -150px;
  display: none;
}

@media (min-width: 900px) {
  .navigation nav .canvas-holder {
    display: block;
  }
}

.navigation nav .canvas-holder canvas {
  width: 50vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media (min-width: 900px) {
  .navigation nav .canvas-holder {
    -ms-flex-item-align: end;
        align-self: flex-end;
    position: absolute;
  }
  .navigation nav .canvas-holder canvas {
    width: 30vw;
  }
}

.navigation nav .portfolio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #000000;
  width: 80%;
}

.navigation nav .portfolio a {
  color: #000000;
  padding: 1rem;
  border-bottom: 1px solid #000000;
  width: 100%;
}

.navigation nav .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navigation nav .title canvas {
  margin-right: 5vw;
}

.navigation nav .title hr {
  border: 1px solid #000000;
  position: absolute;
  width: 0%;
  -webkit-transition: 1s;
  transition: 1s;
}

.navigation nav #menu-caption {
  -ms-flex-item-align: start;
      align-self: flex-start;
  color: #616060;
}

body.nav-open nav {
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

body.nav-open nav .title hr {
  width: 20%;
}

body.nav-open nav.fake-mid {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

body.nav-open nav.fake-back {
  opacity: 50%;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

body.nav-open section {
  -webkit-transform: translate(10vw, 0);
          transform: translate(10vw, 0);
  -webkit-transition: -webkit-transform 0.5s 0s;
  transition: -webkit-transform 0.5s 0s;
  transition: transform 0.5s 0s;
  transition: transform 0.5s 0s, -webkit-transform 0.5s 0s;
}

.horizontal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 600px) {
  .horizontal {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.horizontal section {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-transition: -webkit-transform 0.5s 0s;
  transition: -webkit-transform 0.5s 0s;
  transition: transform 0.5s 0s;
  transition: transform 0.5s 0s, -webkit-transform 0.5s 0s;
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

@media (max-width: 599px) {
  .horizontal section {
    width: 100vw;
  }
}

.img-container {
  z-index: -2;
  height: 100vh;
  position: absolute;
}

.img-container img {
  position: fixed;
  top: 200px;
  left: 200px;
  -webkit-transform: translate(-50%, -50%) scale(0.3);
          transform: translate(-50%, -50%) scale(0.3);
  -webkit-animation: fadeinout 4s ease-in 1 forwards;
          animation: fadeinout 4s ease-in 1 forwards;
  cursor: pointer;
  z-index: -1;
  opacity: 0.5;
}

#intro {
  width: 100vw;
}

#intro .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100vh;
  white-space: normal;
  width: 90vw;
  margin-left: 10vw;
}

#intro h1 {
  width: 100px;
}

#intro hr {
  margin-left: 0;
}

#intro p.introduction {
  -webkit-animation: slide-in 1s ease-out;
          animation: slide-in 1s ease-out;
  width: 60vw;
}

@media (min-width: 600px) {
  #intro p.introduction {
    width: 40vw;
  }
}

@media (min-width: 900px) {
  #intro p.introduction {
    width: 30vw;
  }
}

@media (min-width: 1200px) {
  #intro p.introduction {
    width: 20vw;
  }
}

h1.stage {
  left: -100px;
  top: 0;
  font-family: 'outward';
  font-size: 10rem;
  font-weight: normal;
  white-space: nowrap;
  display: none;
}

@media (min-width: 1200px) {
  h1.stage {
    left: -60px;
    font-size: 20rem;
    display: block;
  }
}

h1.stage span {
  font-family: 'outwardLine';
}

.project {
  position: relative;
  height: 100vh;
}

@media (max-width: 599px) {
  .project {
    width: 100vw;
  }
}

.project .stage {
  position: absolute;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  -webkit-animation: slide-down 5s ease-in-out  infinite alternate;
          animation: slide-down 5s ease-in-out  infinite alternate;
}

.project .container-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (min-width: 600px) {
  .project .container-project {
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 100vh;
  }
}

@media (max-width: 599px) {
  .project .container-project {
    margin-top: 5vh;
  }
}

.project .container-project article {
  max-width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (min-width: 600px) {
  .project .container-project article {
    margin-right: 10vw;
    height: 80vh;
    width: 60vw;
    margin-left: 15vw;
  }
}

@media (min-width: 900px) {
  .project .container-project article {
    width: 40vw;
  }
}

.project .container-project #artanim {
  margin-left: 5vw;
}

.project .container-project .container-aligned-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

@media (min-width: 600px) {
  .project .container-project .container-aligned-items {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.project .container-project .container-aligned-items img {
  margin: 0 5vw;
}

@media (max-width: 599px) {
  .project .container-project .container-aligned-items img {
    margin: 0;
  }
}

.project .container-project .description-project {
  margin: 0 5vw;
}

@media (max-width: 599px) {
  .project .container-project .description-project {
    width: 80vw;
    margin: 3rem 0;
  }
}

@media (min-width: 600px) {
  .project .container-project .description-project {
    width: 40vw;
  }
}

@media (min-width: 1200px) {
  .project .container-project .description-project {
    width: 20vw;
  }
}

@media (max-width: 599px) {
  .project .container-project .capture {
    margin: 0;
    height: 80vh;
  }
}

@media (min-width: 600px) {
  .project .container-project .capture {
    height: 65vh;
    margin: 0 5vw;
  }
}

.project .container-project .show {
  max-width: 100vw;
  max-height: 100%;
  margin: 0px -5vw 0px 5vw;
}

@media (max-width: 599px) {
  .project .container-project .show {
    margin: 0;
  }
}

.project .container-project img {
  max-width: 100vw;
  max-height: 100vh;
}

.container-draggable {
  height: 100vh;
  width: 60vw;
  position: relative;
  overflow-y: hidden;
  overflow-x: visible;
}

@media (max-width: 599px) {
  .container-draggable {
    width: 100vw;
  }
}

.draggable {
  position: absolute;
  width: 20vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  cursor: move;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

@media (max-width: 599px) {
  .draggable {
    width: 40vw;
  }
}

.draggable.is-pointer-down {
  z-index: 16;
  /* above other draggies */
}

.draggable.is-dragging {
  opacity: 0.7;
  z-index: 16;
}

.breather {
  width: 10vw;
  height: 10vh;
}

div.slides {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-left: -8vw;
}

div.slides #left {
  background-color: #A4BCFF;
  height: 100%;
  width: 50%;
  position: absolute;
  margin: 0;
  cursor: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='61px' height='44px' viewBox='0 0 61 44' style='enable-background:new 0 0 61 44;' xml:space='preserve'%3E %3Cpath d='M.613 21.671L21.584.7l5.642 5.642-11.74 11.74H60.45v7.978H15.487l11.74 11.739-5.643 5.642L.613 22.469a.57.57 0 0 1 0-.798z'/%3E %3C/svg%3E") 30 22, sw-resize;
  opacity: 0;
}

div.slides #right {
  background-color: #B5B507;
  height: 100%;
  width: 50%;
  position: absolute;
  margin-left: 50%;
  cursor: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='61px' height='44px' viewBox='0 0 61 44' style='enable-background:new 0 0 61 44;' xml:space='preserve'%3E %3Cpath d='M60.287 21.671L39.316.7l-5.642 5.642 11.74 11.74H.45v7.978h44.963l-11.74 11.739 5.643 5.642 20.971-20.972a.57.57 0 0 0 0-.798z'/%3E %3C/svg%3E") 30 22, ne-resize;
  opacity: 0;
}

div.slides img {
  height: 60vh;
}
/*# sourceMappingURL=style.css.map */